.loading_dot_container{
    display: flex;
    align-items: center;
    
}

.loading_dot{
    --loading_unit: 5px;
    --spacing_unit: 2px;
    --scale_ratio: 33.33%;
    display: block;
    padding-inline: calc(var(--spacing_unit)/2);
    gap: var(--spacing_unit);
    align-items: flex-end;
    animation: loading_dot 1000ms infinite;
    width: calc(var(--loading_unit) * 3);
    height: var(--size-1);
    overflow: hidden;
}
.dot{
    display: inline-block;
    width: calc(var(--loading_unit) - var(--spacing_unit));
    height: calc(var(--loading_unit) - var(--spacing_unit));
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}
.dot:nth-child(2){
    padding-inline: var(--spacing_unit);
}

@keyframes loading_dot {
    0%{
        width: 0;
    }

    50%{
        width: var(--loading_unit);
    }

    75%{
        width: calc(var(--loading_unit) * 2);
    }

    100%{
        width: calc(var(--loading_unit) * 3);
    }
    
}







.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(3, 3, 158);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }




  .guage_container{
    width: min(100%, 40rem);
    height: 2.5rem;
    border: 2px solid var(--text,#333);
    padding: 5px;
  }

  .guage{
    --timing: 1s;
    height: 100%;
    background-color: rgb(85, 85, 194);
    animation: loading-guage var(--timing) forwards linear;
  }

  .guage_text{
    color:#777777;
    animation:transform-color .7s forwards linear
  }

  @keyframes transform-color {
    100%{
      color: #d4d3d3;
    }
  }


  @keyframes loading-guage {

    0%{
      width: 0%;
    }

    100%{
      width: 100%;
    }
    
  }